## Ignore:
#setup files
setuplog.txt
setuperr.txt
errors.log
.bashrc

# files in runs folder
runs/*

# files in bokehpivot output folder
bokehpivot/out/*

# temporary GAMS files
*.~gm
225*/

# pyc files
*.pyc
*__pycache__

# jupyter notebook checkpoints
*.ipynb_checkpoints*/

# lst and g00 files
*.lst
*.g00

# ds_store files
*.DS_Store

# distpv csv input files
inputs/capacitydata/distpv/*.csv

# R stuff
*.Rhistory
*.RData

# Julia stuff
Manifest.toml

# raw input files for retail rates
retail_rate_module/inputs/EIA861/*
postprocessing/retail_rate_module/inputs/EIA861/*

# County-level hourly RE profiles (due to very large file size)
inputs/variability/multi_year/*county*.h5
inputs/variability/multi_year/file_version.csv

# IDE stuff
*.vscode

# GAMS project files
*.gpr

# IDE files
*.vscode

# NREL HPC files
slurm*.out
