## Ignore:
#setup files
setuplog.txt
setuperr.txt
gams
.bashrc

# files in runs folder
runs/*
inout/variabilitycalculations/ldcfiles/
inout/gdxfiles/*.gdx

# temporary GAMS files
*.~gm
225*/

# pyc files
*.pyc

# lst and g00 files
*.lst
*.g00

# ds_store files
*.DS_Store

# distPV csv input files
inout/dSolar_Inputs/*.csv
inputs/capacitydata/distpv/*.csv

# R stuff
*.Rhistory
*.RData

# raw input files for retail rates
retail_rate_module/inputs/EIA861
