stages:          # List of stages for jobs, and their order of execution
  - test
  - deploy

test-job:  
  environment:
    name: Test     # This job runs in the build stage, which runs first.
  stage: test
  script:
    - echo "Creating python environment"
    # - python3 -m venv env
    # - echo "Created environment successfully"
    # - source env/bin/activate
    # - pip install -r requirements.txt
    # - pip install git+https://github.com/NREL/Marmot.git@reeds-india
    # - echo "Requirements installed successfully"
    # - echo JWT_KEY=$JWT_KEY >> .env
    # - echo DB_CONN_STRING=$DB_CONN_STRING >> .env
    # - echo NUM_OF_PROCESS=1 >> .env
    # - echo BASE_URL_RESET_PASSWORD=$BASE_URL_RESET_PASSWORD >> .env
    # - echo BASE_URL_USER_SIGNUP=$BASE_URL_USER_SIGNUP >> .env
    # - echo BASE_URL_FOR_SIMULATION_STATUS=$BASE_URL_FOR_SIMULATION_STATUS >> .env
    # - echo REEDS_SENDER=$REEDS_SENDER >> .env
    # - echo REEDS_SUPERUSER=$REEDS_SUPERUSER >> .env
    # - echo REEDS_SUPERUSER_PASSWORD=$REEDS_SUPERUSER_PASSWORD >> .env
    # - echo REEDS_SUPERUSER_EMAIL=$REEDS_SUPERUSER_EMAIL >> .env
    # - echo NOTIFIERHOST='localhost' >> .env
    # - echo NOTIFIERPORT='5002' >> .env
    # - echo REDIS_HOST=$REDIS_HOST >> .env
    # - echo REDIS_PORT=$REDIS_PORT >> .env
    # - echo REDIS_PASSWORD=$REDIS_PASSWORD >> .env
    # - echo AWS_REGION=$AWS_REGION >> .env
    # - echo S3_BUCKET=$S3_BUCKET >> .env
    # - echo DEPLOY_MODE='aws' >> .env
    # - echo LOG_FOLDER=$LOG_FOLDER >> .env
    # - mkdir logs
    # - mkdir gams 
    # - cd gams
    # - wget https://d37drm4t2jghv5.cloudfront.net/distributions/25.1.3/linux/linux_x64_64_sfx.exe
    # - chmod 755 linux_x64_64_sfx.exe
    # - ./linux_x64_64_sfx.exe
    # - export PATH=$PATH:$PWD/gams25.1_linux_x64_64_sfx
    # - which gams
    # - cd ..
    # - pytest reeds_server/tests/test_api.py
    # - echo "Awesome Build complete."

deploy-dev-job:
  environment:
    name: Dev
  stage: deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "develop"
      when: always
    - when: never
  variables:
    SECURE_FILES_DOWNLOAD_PATH: '.'
  script:
    - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/load-secure-files/-/raw/main/installer" | bash
    - echo "Deployement starting in dev environment!"
    - ls
    - ssh -i reeds-india.pem ec2-user@172.18.7.44
    - exit


