*.lst
*.gdx
*.html
*.Rhistory
*.png
*.wmf
*.mps
*.sh
rmd.bat
D_Augur/*_8760_load.pkl
slurm-*
/shfiles/india_*
/D_8760/gdxfiles/
/E_Outputs/runs/
**/__pycache__/
/F_Analysis/data/output*
reeds_server/users_avatar/*
reeds_server/bug_attachements/*
reeds_server/users_cases/*
reeds_server/users_output/*
*.db
*.log
*.log.*
.env
*modeled_year.csv
225d/
225e/
225f/
225g/
D_Augur/ErrorFile/
gamslog.txt

