name: reeds
dependencies:
  - python=3.9.7
  - bokeh=2.4.2
  - gitpython=3.1.18
  - h5py=3.6.0
  - matplotlib=3.5.0
  - networkx=2.6.3
  - numba=0.54.1
  - numpy=1.20.3
  - openpyxl=3.0.9
  - pandas=1.3.5
  - pip=21.2.4
  - pytables=3.6.1
  - requests=2.26.0
  - scikit-learn=1.0.1
  - scipy=1.7.1
  - tqdm=4.62.3
  - pip:
    - geopandas==0.10.2
    - cmocean==2.0
    - gdxpds==1.2.0
    - shapely==1.8.0
    - proj==0.2.0
    - pyproj==3.3.0
