sqlalchemy
jinja2
numpy
sendgrid
boto3
redis
sqlalchemy
pandas
bcrypt
python-dotenv
aiohttp_swagger3
schedule
psutil
pyjwt
cerberus
psycopg2-binary
bokeh
gdxpds
networkx
openpyxl
mysqlclient
-e git+https://github.com/NREL/Marmot.git@reeds-india