@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body {
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.description{
    font-size: 90%;
}
.error{
    color: red;
    text-decoration: underline;
}
.full_layout{
    width: auto !important;
    height: auto !important;
}
.widgets_section{
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    z-index: 10 !important;
    width: 225px !important;
    height: auto !important;
    overflow-y: scroll !important;
}
.plots_section{
    margin-left: 250px !important;
    width: auto !important;
    height: auto !important;
    display: inline-block !important;
    flex-shrink: 1 !important;
}
.bk-plot-layout{
    display: inline-block !important;
}
.chart-drop,
.reeds-vars-drop,
.meta-drop,
.report-drop,
.x-drop,
.y-drop,
.series-drop,
.explode-drop,
.adv-drop,
.filter,
.filters-update,
.adjust-drop,
.map-drop,
.wdgkey-scenario_filter,
.update-drop,
.download-drop{
    display: none;
}
.filter-head{
    font-weight: bold;
    cursor: pointer;
    color: purple;
    display: none;
}
.chart-dropdown,
.data-dropdown,
.reeds-vars-dropdown,
.meta-dropdown,
.report-dropdown,
.x-dropdown,
.y-dropdown,
.series-dropdown,
.explode-dropdown,
.adv-dropdown,
.filters-dropdown,
.adjust-dropdown,
.map-dropdown,
.scenario-filter-dropdown,
.update-dropdown,
.download-dropdown,
.legend-dropdown{
    font-weight: bold;
    color: blue;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: underline;
}
.wdgkey-result label,
.wdgkey-presets label{
    font-weight: bold;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
.select-opt{
    color: blue;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}
.legend-drop{
    border: 1px solid lightgrey;
    padding: 10px;
}
.legend-color{
    width: 20px;
    height: 10px;
    display: inline-block;
    margin-right: 10px
}
.bk-widget-form-group{
    margin-top: 10px;
}
.config-display-title{
    font-weight: bold;
    text-decoration: underline;
}
.config-display-key{
    font-weight: bold;
}
