<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReEDS-India</title>
</head>
<body style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">

    <div style="width:50%;position:absolute;top:20%;left:25%;min-height:60%;background:white;margin:0;padding:0;">
        <div style="background:teal;height:50%;color: white;">
            <h1 style="margin:0;padding:0;text-align: center;padding: 10% 0;">Welcome to ReEDS-India!</h1>
        </div>
        <div style="color: rgb(99, 96, 93); margin-bottom: 20px;">
            <h3 style="font-size: 1.5em; padding: 0 2em; text-align: center;">Ready to get started? Check out the ReEDS git repository for more documentation.</h3>
            <button style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;border:none;outline:none; background-color: green; padding: 5px 10px;font-size: 1.0em; display: flex; margin: auto;border-radius: 2px;"> <a style="color:white; text-decoration: none;" href="href='https://www.nrel.gov/analysis/reeds/request-access-form.html">Click here to request access to the ReEDS git repository </a></button>
        </div>
    
    </div>
    
</body>
</html>