<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReEDS, India</title>
</head>
<body style="text-align: center;">

    <h1> ReEDS India</h1>
    <h2 style="color: blue;"> Your simulation is finished! </h2>

    <div>
        <h4> Simulation name: {{ data.name }}</h4>
        <h4> Simulation UUID: {{ data.uuid }}</h1>
        <h4> Simulation description: {{ data.description }}</h4>
    </div>
    
    <p> Please visit the simulation to check the status !</p>
    <p>If you did not expect this email, please ignore this message.</p>
    
</body>
</html>