<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReEDS-India</title>
</head>
<body style="text-align: center;">

    <h1> ReEDS India</h1>
    <h2 style="color: blue;"> Please click on the link below to sign up for the ReEDS-India dashboard.</h2>

    <a style="background-color: blue; color: white; text-decoration: none; padding: 10px 20px; width: 60px; margin: 20px 0" href="{{ data.signup_link }}"> Sign Up </a>

    <p>If you did not request for a ReEDS-India account, please ignore this message.</p>
    
</body>
</html>