jobs:
  test:
    steps: 
      - run: echo "Creating python environment"
      - run: python3 -m venv env
      - run: echo "Created environment successfully"
      - run: source env/bin/activate
      - run: pip install -r requirements.txt
    # - run: pip install git+https://github.com/NREL/Marmot.git@reeds-india
      - run: echo "Requirements installed successfully"
      - run: echo JWT_KEY=$JWT_KEY >> .env
      - run: echo DB_CONN_STRING=$DB_CONN_STRING >> .env
      - run: echo NUM_OF_PROCESS=1 >> .env
      - run: echo BASE_URL_RESET_PASSWORD=$BASE_URL_RESET_PASSWORD >> .env
      - run: echo BASE_URL_USER_SIGNUP=$BASE_URL_USER_SIGNUP >> .env
      - run: echo BASE_URL_FOR_SIMULATION_STATUS=$BASE_URL_FOR_SIMULATION_STATUS >> .env
      - run: echo REEDS_SENDER=$REEDS_SENDER >> .env
      - run: echo REEDS_SUPERUSER=$REEDS_SUPERUSER >> .env
      - run: echo REEDS_SUPERUSER_PASSWORD=$REEDS_SUPERUSER_PASSWORD >> .env
      - run: echo REEDS_SUPERUSER_EMAIL=$REEDS_SUPERUSER_EMAIL >> .env
      - run: echo NOTIFIERHOST='localhost' >> .env
      - run: echo NOTIFIERPORT='5002' >> .env
      - run: echo REDIS_HOST=$REDIS_HOST >> .env
      - run: echo REDIS_PORT=$REDIS_PORT >> .env
      - run: echo REDIS_PASSWORD=$REDIS_PASSWORD >> .env
      - run: echo AWS_REGION=$AWS_REGION >> .env
      - run: echo S3_BUCKET=$S3_BUCKET >> .env
      - run: echo DEPLOY_MODE='local' >> .env
      - run: echo LOG_FOLDER=$LOG_FOLDER >> .env
      - run: mkdir logs
      - run: mkdir gams 
      - run: cd gams
      - run: wget https://d37drm4t2jghv5.cloudfront.net/distributions/25.1.3/linux/linux_x64_64_sfx.exe
      - run: chmod 755 linux_x64_64_sfx.exe
      - run: ./linux_x64_64_sfx.exe
      - run: export PATH=$PATH:$PWD/gams25.1_linux_x64_64_sfx
      - run: which gams
      - run: cd ..
      - run: cat .env
      - run: pytest reeds_server/tests/test_api.py
      - run: echo "Awesome Build complete."

  deploy_dev:
    needs: [test]
    if: contains( github.ref, 'develop' )
    steps:
      - run: curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/load-secure-files/-/raw/main/installer" | bash
      - run: echo "Deployment starting in dev environment!"
      - run: ls
      - run: chmod 400 reeds-india.pem
      - run: ssh -i reeds-india.pem ec2-user@172.18.7.44 "ls;
        supervisorctl stop reeds_api;
        cd /home/ec2-user/reeds-india/reeds_api;
        git pull origin develop;
        cd ~;
        supervisorctl start reeds_api"
      - run: echo "Finished!"

  deploy_prod:
    needs: [deploy_dev]
    if: contains( github.ref, 'main' )
    script:
      - run: echo "Deployment starting in prod environment!"
      - run: ls
      - run: ssh -i ~/.ssh/id_ed25519 ec2-user@172.17.25.248 "ls;
        supervisorctl stop reeds_api;
        cd /home/ec2-user/reeds_microservices/reeds_api;
        git pull;
        cd ~;
        supervisorctl start reeds_api"
      - run: echo "Finished!"