on: push

env:
  AWS_REGION: us-west-2
  BASE_URL_FOR_SIMULATION_STATUS: http://13.57.16.146/#/notifications
  BASE_URL_RESET_PASSWORD: http://13.57.16.146/#/change-password
  BASE_URL_USER_SIGNUP: http://13.57.16.146/#/new-user
  DB_CONN_STRING: mysql://admin:reedsindia@reeds-database.cqpo6huywjus.us-west-1.rds.amazonaws.com:3306/reeds
  JWT_KEY: zgVtt/9{#YZfmTCKn;)5^)Ujo_]};#
  LOG_FOLDER: logs
  REDIS_HOST: reeds-india-us-west-2.kw8sl3.ng.0001.usw2.cache.amazonaws.com
  REDIS_PASSWORD: qJACs1J0apruOOJCggOtkjB4c
  REDIS_PORT: 6379
  REEDS_SENDER: reeds-india@nrel.gov
  REEDS_SUPERUSER: reedssuperuser
  REEDS_SUPERUSER_EMAIL: reeds-india@nrel.gov
  REEDS_SUPERUSER_PASSWORD: j6A{bU//gB
  S3_BUCKET: reeds-india
  SAMPLE_KEY: sample_key

jobs:
  test:
    runs-on: self-hosted
    steps: 
      - uses: actions/checkout@v3
      - run: |
          echo "Creating python environment"
          python3 -m venv env
          echo "Created environment successfully"
          source env/bin/activate
          pip install -r requirements.txt
          pip uninstall urllib3 --yes
          pip install 'urllib3<1.27'
          echo "Requirements installed successfully"
          echo JWT_KEY=$JWT_KEY >> .env
          echo DB_CONN_STRING=$DB_CONN_STRING >> .env
          echo NUM_OF_PROCESS=1 >> .env
          echo BASE_URL_RESET_PASSWORD=$BASE_URL_RESET_PASSWORD >> .env
          echo BASE_URL_USER_SIGNUP=$BASE_URL_USER_SIGNUP >> .env
          echo BASE_URL_FOR_SIMULATION_STATUS=$BASE_URL_FOR_SIMULATION_STATUS >> .env
          echo REEDS_SENDER=$REEDS_SENDER >> .env
          echo REEDS_SUPERUSER=$REEDS_SUPERUSER >> .env
          echo REEDS_SUPERUSER_PASSWORD=$REEDS_SUPERUSER_PASSWORD >> .env
          echo REEDS_SUPERUSER_EMAIL=$REEDS_SUPERUSER_EMAIL >> .env
          echo NOTIFIERHOST='localhost' >> .env
          echo NOTIFIERPORT='5002' >> .env
          echo REDIS_HOST=$REDIS_HOST >> .env
          echo REDIS_PORT=$REDIS_PORT >> .env
          echo REDIS_PASSWORD=$REDIS_PASSWORD >> .env
          echo AWS_REGION=$AWS_REGION >> .env
          echo S3_BUCKET=$S3_BUCKET >> .env
          echo DEPLOY_MODE='local' >> .env
          echo LOG_FOLDER=$LOG_FOLDER >> .env
          mkdir logs
          mkdir gams 
          cd gams
          wget https://d37drm4t2jghv5.cloudfront.net/distributions/25.1.3/linux/linux_x64_64_sfx.exe
          chmod 755 linux_x64_64_sfx.exe
          ./linux_x64_64_sfx.exe
          export PATH=$PATH:$PWD/gams25.1_linux_x64_64_sfx
          which gams
          cd ..
          cat .env
          pytest reeds_server/tests/test_api.py
          echo "Awesome Build complete."

  deploy_dev:
    runs-on: self-hosted
    needs: [test]
    if: contains( github.ref, 'develop' )
    steps:
      - run: |
          echo "Deployment starting in dev environment!"
          ls
          ssh -i ~/.ssh/id_ed25519 ec2-user@172.18.7.44 "ls;
          sudo service supervisord restart;
          supervisorctl stop reeds_api;
          cd /home/ec2-user/reeds_india_api;
          git pull origin develop;
          cd ~;
          supervisorctl start reeds_api"
          echo "Finished!"

  deploy_prod:
    runs-on: self-hosted
    needs: [test]
    if: contains( github.ref, 'gui-source' )
    steps:
      - run: |
          echo "Deployment starting in prod environment!"
          ls
          ssh -i ~/.ssh/id_ed25519 ec2-user@172.17.25.248 "ls;
          sudo service supervisord restart;
          supervisorctl stop reeds_api;
          cd /home/ec2-user/reeds_india_api;
          git pull;
          cd ~;
          supervisorctl start reeds_api"
          echo "Finished!"
