on: push
#   push:
#     branches:
#       - main

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with: 
          repository: NREL/india_modeling
          token: ${{ secrets.INDIA_MODELING_DISPATCH_TOKEN }}
          submodules: true
      - run: |
          git submodule update --init --recursive
          git submodule update --recursive --remote
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
          git add -A
          git commit -m "Automatic submodule update (test)"
          git push
